$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(40, 40, 40);
$color-tertiary: rgb(114, 114, 114);

$bg-primary: rgb(11, 225, 0);
$bg-secondary: #ffff;
$bg-no-cover: linear-gradient(to right, rgb(56, 56, 56), grey);
$bg-card: rgb(11, 225, 0, 0.8);

$font-size-title: 36px;
$font-size-primary: 26px;
$font-size-secondary: 21px;
$font-size-tertiary: 16px;

$radius-primary: 12px;
$radius-secondary: 6px;

$shadow-sm: 1px 1px 6px rgba(0, 0, 0, 0.5);

$transition-main: all 0.3s ease-in;

* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Robot", sans-serif;
}

h1 {
  text-align: center;
  font-size: $font-size-title;
  // margin: 1.5em;
  margin: 1.5em 0 0.25em 0;
}

h2 {
  text-align: center;
  font-weight: 100;
  margin-top: 2rem;
}

h3 {
  margin: 0.5em;
  margin-top: 4rem;
  font-size: 21px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0.5em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

// utils

.underline {
  margin: 0 auto;
  width: 8em;
  height: 5px;
  background-color: $bg-primary;
  margin-bottom: 5em;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    color: $color-primary;
    border-radius: $radius-primary;
    padding: 0.5em;
  }

  input {
    width: 50%;
    height: 2em;
    font-size: $font-size-secondary;
    padding: 0.5em;
    color: $color-primary;
    border-radius: $radius-primary;
    border: 1px solid grey;
  }
  .icn {
    font-size: 30px;
    color: red;
    padding: 0;
  }
}

.books-list {
  color: $color-primary;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  h3 {
    margin-top: 1em;
    margin-bottom: 0;
  }

  // .fav {
  //   // background: $bg-card !important;
  //   border: 5px solid $bg-card;
  // }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .no-cover {
    width: 128px;
    height: 188px;
    background: $bg-no-cover;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: $font-size-secondary;
      color: $color-tertiary;
      rotate: 45deg;
    }
  }

  .thumb-image {
    width: 128px;
    height: 188px;
  }

  .read-more {
    color: blue;
    cursor: pointer;
    // display: block;
    // margin: 0 2.5em 0 auto;
    // border: 1px solid black;
    // border-radius: $radius-secondary;
    padding: 0.5em;

    &:hover {
      text-decoration: underline;
    }
  }

  .book-card {
    background: $bg-secondary;
    width: 400px;
    position: relative;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: $radius-primary;
    box-shadow: $shadow-sm;
    transition: $transition-main;

    &:hover {
      scale: 1.01;
      z-index: 55;
    }

    .authors {
      font-size: $font-size-secondary;
      color: $color-secondary;
    }

    .published {
      font-size: $font-size-tertiary;
      color: $color-tertiary;
    }
    .description {
      line-height: 1.5;
    }
  }

  .like-btn {
    transition: all 1s ease-in-out;
  }

  .icn {
    font-size: 40px;
    color: red;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    transform: scale 0.4s ease-in-out;

    &:hover {
      scale: 1.1;
    }

    &:active {
      scale: 0.9;
    }
  }

  .no-description {
    color: $color-secondary;
    font-style: italic;
  }

  .no-list {
    color: $color-secondary;
    text-align: center;
  }
}

.icn-animation {
  animation: like 0.3s ease-in;

  &:active {
    scale: 0.9;
  }
}

// ### LIKE ANIMATION

@keyframes like {
  0% {
    color: transparent;
    rotate: 45deg;
  }
  25% {
    rotate: -45deg;
  }

  50% {
    rotate: 45deg;
  }

  100% {
    color: red;
    rotate: -45deg;
  }
}

// ### LOADER
.loader-container {
  font-size: $font-size-secondary;
  height: 80vh;
  // background-color: $bg-primary;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2::after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 1s cubic-bezier(0, 0.39, 1, 0.68) infinite;
    animation: Dots 1s cubic-bezier(0, 0.39, 1, 0.68) infinite;
  }
}

@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
