$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(40, 40, 40);
$color-tertiary: rgb(114, 114, 114);

$bg-primary: rgb(11, 225, 0);
$bg-secondary: #ffff;
$bg-no-cover: linear-gradient(to right, rgb(56, 56, 56), grey);
$bg-card: rgb(11, 225, 0, 0.8);

$font-size-title: 36px;
$font-size-primary: 26px;
$font-size-secondary: 21px;
$font-size-tertiary: 16px;

$radius-primary: 12px;
$radius-secondary: 6px;

$shadow-sm: 1px 1px 6px rgba(0, 0, 0, 0.5);

$transition-main: all 0.3s ease-in;

$underline-width: 3em;

* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Robot", sans-serif;
}

h1 {
  text-align: center;
  font-size: $font-size-title;
  // margin: 1.5em;
  margin: 1.5em 0 0.25em 0;
}

h2 {
  text-align: center;
  font-weight: 100;
  margin-top: 2rem;
}

h3 {
  margin: 0.5em;
  margin-top: 4rem;
  font-size: 21px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0.5em;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

nav {
  margin: 1em auto;
  font-size: $font-size-primary;

  .underline {
    opacity: 0;
    margin: 0.25em auto;
    width: $underline-width;
    height: 5px;
    background-color: $bg-primary;
  }

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .nav-link {
    color: $color-secondary;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &.active > div {
      opacity: 1 !important;
      animation: underline 0.2s ease-in-out;
    }

    &:hover {
      color: $color-tertiary;
    }
  }
}

// utils

.underline {
  margin: 0 auto;
  width: 8em;
  height: 5px;
  background-color: $bg-primary;
  margin-bottom: 3em;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    color: $color-primary;
    border-radius: $radius-primary;
    padding: 0.5em;
  }

  input {
    width: 75%;
    height: 2em;
    font-size: $font-size-secondary;
    padding: 0.5em;
    color: $color-primary;
    border-radius: $radius-primary;
    border: 1px solid grey;
  }
  .icn {
    font-size: 30px;
    color: red;
    padding: 0;
  }
}

.books-list {
  color: $color-primary;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  h3 {
    margin-top: 1em;
    margin-bottom: 0;
  }

  // .fav {
  //   // background: $bg-card !important;
  //   border: 5px solid $bg-card;
  // }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .no-cover {
    width: 128px;
    height: 188px;
    background: $bg-no-cover;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: $font-size-secondary;
      color: $color-tertiary;
      rotate: 45deg;
    }
  }

  .thumb-image {
    width: 128px;
    height: 188px;
  }

  .read-more {
    color: blue;
    cursor: pointer;
    // display: block;
    // margin: 0 2.5em 0 auto;
    // border: 1px solid black;
    // border-radius: $radius-secondary;
    padding: 0.5em;

    &:hover {
      text-decoration: underline;
    }
  }

  .book-card {
    background: $bg-secondary;
    width: 400px;
    position: relative;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: $radius-primary;
    box-shadow: $shadow-sm;
    transition: $transition-main;
    animation: showUp 0.5s ease-in;

    &:hover {
      scale: 1.01;
      z-index: 55;
    }

    .authors {
      font-size: $font-size-secondary;
      color: $color-secondary;
    }

    .published {
      font-size: $font-size-tertiary;
      color: $color-tertiary;
    }
    .description {
      line-height: 1.5;
    }
  }

  .like-btn {
    transition: all 1s ease-in-out;
  }

  .icn {
    font-size: 40px;
    color: red;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    transform: scale 0.4s ease-in-out;

    &:hover {
      scale: 1.1;
    }

    &:active {
      scale: 0.9;
    }
  }

  .show-details {
    font-size: $font-size-tertiary;
    background: $bg-primary;
    padding: 0.5em;
    border-radius: $radius-secondary;
  }

  .no-description {
    color: $color-secondary;
    font-style: italic;
  }

  .no-list {
    color: $color-secondary;
    text-align: center;
  }
}

.icn-animation {
  animation: like 0.3s ease-in;

  &:active {
    scale: 0.9;
  }
}

.modal-backdrop {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.7);
}

.modal {
  font-size: $font-size-primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background: white;
  z-index: 99;
  overflow: auto;

  p {
    font-size: $font-size-tertiary;
    margin: 0.25em 0;
    line-height: 1.5;
  }

  button {
    font-size: $font-size-title;
    position: absolute;
    top: 0.25em;
    right: 0;
  }

  header {
    padding: 1em 0 0 0;
    position: relative;

    h2 {
      text-align: start;
      margin: 0.25em 0;
      font-size: $font-size-primary;
      font-weight: bold;
    }
  }

  .author {
    font-size: $font-size-secondary;
  }
  .publisher {
    margin-top: 0.5em;
    font-size: $font-size-tertiary;
    color: $color-secondary;
  }
  .description {
    font-size: $font-size-tertiary;
    margin: 1em 0;
  }
  .isbn {
    font-size: $font-size-tertiary;
    letter-spacing: 1.25px;
    font-style: italic;
  }

  .modal-body {
    font-size: $font-size-secondary;
    color: $color-secondary;
    padding: 1em;
  }
  img {
    border-radius: $radius-primary;
  }

  .modal-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .modal-img {
    width: 50%;
  }

  .modal-full-img {
    width: 100%;
    height: 100%;
  }

  .categories {
    display: flex;
    gap: 0.5em;
  }

  .category {
    font-size: $font-size-tertiary;
    display: inline-block;
    color: $color-tertiary;
    letter-spacing: 1.5px;
    padding: 0.4em;

    border: 1px solid grey;
    border-radius: $radius-secondary;
  }
}

// ### LIKE ANIMATION

@keyframes like {
  0% {
    color: transparent;
    rotate: 45deg;
  }
  25% {
    rotate: -45deg;
  }

  50% {
    rotate: 45deg;
  }

  100% {
    color: red;
    rotate: -45deg;
  }
}

// ### LOADER
.loader-container {
  font-size: $font-size-secondary;
  height: 80vh;
  // background-color: $bg-primary;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2::after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 1s cubic-bezier(0, 0.39, 1, 0.68) infinite;
    animation: Dots 1s cubic-bezier(0, 0.39, 1, 0.68) infinite;
  }
}

@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: $underline-width;
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  .search-form {
    input {
      width: 50%;
    }
  }

  .modal {
    padding: 2em;
    width: 50%;
    border-radius: $radius-primary;

    header {
      margin: 1em 0;
      padding: 0;

      h2 {
        font-size: $font-size-title;
      }
    }

    .modal-img-container {
      display: flex;
      justify-content: center;
    }

    .modal-img {
      width: 30%;
    }

    .modal-full-img {
      width: 100%;
    }
  }
}
